-load smartmin i18n humanize temba compress

%div.weni-navigation-control
  %button.weni-navigation-control__back
    .unnnic-keyboard-arrow-left-1.unnnic-icon-large

:javascript
  $(".weni-navigation-control__back").live('click', (event) => {
    history.back();
  })