- extends 'smartmin/form.html'
- load smartmin temba compress i18n

-block form-span
  span8

- block form-buttons
    %div.form-action.mt-4
      %input.button-primary{:type => "submit", :value => "{{ submit_button_name }}"}
    %br
    %a.button-primary{href: '{% url "two_factor.token" %}'}
        -trans "Back"
